body{
  background-color:   #0a001a;
  color: white;
}
.form-container {
    width: 400px;
    position: absolute;
    left: 33%;
    top: 23vh;
    height:auto;
    display:flex;
    flex-direction: column;
    background-color:   #c299ff;
    backdrop-filter: blur(20px);
    color: #140033;
    align-items: center;
    padding: 20px;
    border-radius: 2px;
}
.form-container h1{
  text-align: center;
}
.input-container{
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
}
.input-container input{
  width:320px;
  padding: 3px;
}

.form-item{
  margin: 5px;
}

#submit-button{
   background-color:  red;
   width:100px;
   border: none;
   color: white;
   padding: 7px 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 2px;
}
.sign-up-link{
  background-color: #4700b3;
  color: white;
  padding: 3px;
  border-radius: 2px;
  text-decoration: none;

}
.general-name{
  display:flex;
}

.general-name input{
  width: 150px;
}
